header {
    .container {
        padding: 15px 0 15px 0;
        display: flex;
        justify-content: space-between;

        .socialmedia {
            display: flex;
            justify-content: center;
            

            a {
                padding-left: 10px;
                padding-right: 10px;
                border-left: 1px solid var(--color-primary-light);
                color: var(--color-light);
                
                &:nth-child(3) {
                    border-right: 1px solid var(--color-primary-light);
                }
            }
        }
    }
}