.success {
    .container {
        position: relative;
        padding: 90px 0 400px 0;

        .success-info {
            display: flex;
            justify-content: space-between;
            padding-bottom: 3rem;
            padding-top: 2rem;

            .success-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 30%;

                h1 {
                    color: var(--color-secondary);
                    font-size: 100px;
                    margin-bottom: 0;
                }
            }
        }

        img {
            position: absolute;
            left: 150px;
        }
    }
}